$color-1: #af5ae2; //Purple
$color-2: #3B383B; //Charcoal
$color-3: #e5f4fe; //Light blue
$color-4: #9cd425; //Light green
$color-5: #0067b7; //Dark blue
$color-6: lighten( desaturate( #FFF80D, 5% ), 5% ); //Yellow

$body-background-color: $color-1;

$main-background-color: $color-1;
