$xsmall: '( min-width: 25em )';
$small: '( min-width: 30em )';
$medium: '( min-width: 45em )';
$large: '( min-width: 55em )';
$xlarge: '( min-width: 95em )';

$xshort: '( min-height: 35em )';
$short: '( min-height: 45em )';
