.page-footer {
  background-color: $color-2;
  text-align: center;
  a {
    display: block;
    width: 14em;
    margin: 1em auto 0;
    padding: 1em;
    background-color: white;
    border-radius: 4px;
    border-bottom: none;
    @include box-shadow( 0 5px 0 grey );
    &:active {
      @include box-shadow( 0 3px 0 grey );
      @include transform( translatey( 2px ) );
    }
  }
}

.copyright {
  margin: 4em 0 0;
  font-size: ms( -.5, 1em );
  color: #222;
  color: rgba( black, .3 );
  @media #{ $small } and #{ $short } {
    margin-top: 5em;
  }
  @media #{ $large } and #{ $short } {
    margin-top: 7em;
  }
}
