.check {
  ul {
    margin: 1em 0 ms( -.5, 1em );
    text-align: center;
    @media #{ $small } and #{ $short } {
      margin: 1em 0;
    }
    @media #{ $large } and #{ $short } {
      margin: 1em 0 2em;
    }
  }
  li {
    display: inline-block;
  }
  a {
    border-bottom: none;
  }
}

.icon-github,
.icon-twitter {
  display: block;
  font-size: 3em;
  line-height: 1;
  @include icon-FontAwesome();
  &:hover,
  &:focus {
    @include text-shadow( 0 1px 0 darken( desaturate( $color-1, 25% ), 20% ),
                          0 2px 0 darken( desaturate( $color-1, 25% ), 20% ),
                          0 3px 0 darken( desaturate( $color-1, 25% ), 20% ),
                          0 4px 0 darken( desaturate( $color-1, 25% ), 20% ),
                          0 5px 0 darken( desaturate( $color-1, 25% ), 20% ),
                          0 5px 1px rgba( black, .3 ),
                          0 5px 10px rgba( black, .4 ) );
    @include transform( translatey( -5px ) );
  }
  &:active {
    @include text-shadow( 0 1px 0 darken( desaturate( $color-1, 25% ), 20% ),
                          0 2px 0 darken( desaturate( $color-1, 25% ), 20% ),
                          0 2px 1px rgba( black, .3 ) );
    @include transform( translatey( -2px ) );
  }
  @media #{ $small } {
    font-size: 4em;
  }
}

.github-link,
.twitter-link {
  display: inline-block;
}

.github-link {
  margin-right: 1em;
  @media #{ $small } {
    margin-right: 4em;
  }
}

.word {
  display: block;
  font-weight: bold;
  color: $color-2;
}
