.page-footer {
  background-color: $color-2;
  ul {
    position: relative;
    list-style: none !important;
    padding: 0 !important;
  }
  .downloads {
    margin-top: 1em;
    background: $color-3;
    border: 1px solid darken( $color-3, 15% );
    border-radius: 6px;
    line-height: 1;
    text-align: center;
    li {
      padding: .75em;
    }
    @media #{ $small } {
      position: absolute;
      top: 50%;
      left: 60%;
      width: 33.3333%;
      margin-top: -3.5em;
      padding: 1em 0;
    }
    @media #{ $medium } {
      left: 50%;
      width: 33.3333%;
    }
    // @media #{ $large } {
    //   left: 33.3333%;
    //   width: 33.3333%;
    // }
  }
}
