.do {
  a {
    color: $link-color-alt;
    &:hover,
    &:focus {
      border-color: $link-color-alt-hover;
      color: $link-color-alt-hover;
    }
  }
  .icons {
    text-align: center;
    font-size: 3em;
    color: white;
    @include icon-FontAwesome();
    @media #{ $medium } {
      font-size: 6em;
    }
  }
  @media #{ $small } {
    p {
     font-size: ms( 1, 1em );
   }
  }
}