/* Responsive SVG mixin
-------------------- */
// This mixin requires Modernizr SVG detection, Compass, 
// a .svg file in the img/svg-src/ folder, and a .png file 
// in the img/png-src/ folder with the same name as the .svg.
// It creates an inline SVG background image in the CSS, 
// with fallback to a PNG sprite.
// Don't put quote marks around $img-name.

/* Compass PNG sprite creation */
$pngs: sprite-map( "png-src/*.png", $spacing: 20px );

@mixin responsive-svg( $img-name, $set-dimensions: true, $logo-replace: true ) {
  @if $set-dimensions {
    width: image-width( "png-src/#{ $img-name }.png" );
    height: image-height( "png-src/#{ $img-name }.png" );
  }
  @if $logo-replace {
    text-indent: -9999px;
  }
  .js.svg & {
    background-image: inline-image( "svg-src/#{ $img-name }.svg" );
    background-repeat: no-repeat;
  }
  .no-svg &,
  .no-js & {
    background: $pngs no-repeat sprite-position( $pngs, #{ $img-name }, 0, 0 );
  }
}
