.page-header {
  background-color: $color-2;
  h1 {
    @include transition( all .2s ease );
    padding: .2em .3em .3em;
    color: rgba(214,155,249,.9);
    text-align: center;
    font-weight: 800;
    font-size: ms( 1, 1em );
    text-shadow: 0 1px 0 rgba(0,0,0,1);
    span {
      font-weight: 300;
      letter-spacing: -.05em;
    }
    @media #{ $medium } {
      font-size: ms( 2, 1em );
    }
  }
  .design {
    color: white;
    color: rgba( white, .9 );
  }
}
