@import-normalize;

:root {
  --body-font-family: hack, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  --body-font-size-small: 16px;
  --body-line-height-small: 20px;
  --body-font-size-med: 22px;
  --body-line-height-med: 28px;
  --body-font-size-large: 28px;
  --body-line-height-large: 36px;

  /* Based on Oceanic Next vim theme */
  --theme-text: #c0c5ce;
  --theme-background: #1b2b34;
  --theme-red: #ec5f67;
  --theme-green: #99c794;
  --theme-orange: #f99157;
  --theme-yellow: #fac863;
  --theme-blue: #6699cc;
  --theme-purple: #c594c5;
  --theme-cyan: #62b3b2;
  --theme-white: #ffffff;
  --theme-black: #000000;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Avoid transitions firing on page load */
.preload * {
  @include transition(none);
}

/* Visually hide while allowing to be read by screenreaders and robots */
.loading .page-header,
.loading .page-main,
.loading .page-footer {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.loading .terminal-loading-line {
  opacity: 1;
}

/* Revealed character by character using JS */
.hidden {
  display: none;
}

body {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--theme-background);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-small);
  line-height: var(--body-line-height-small);
  color: var(--theme-text);
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: var(--body-line-height-small) 0;
  font-size: inherit;
}

hr {
  height: var(--body-line-height-small);
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

hr::after {
  display: inline-block;
  opacity: .5;
  content: "----------";
}

@media (min-width: 300px) {
  hr::after {
    content: "--------------------";
  }
}

@media (min-width: 960px) {
  body {
    font-size: var(--body-font-size-med);
    line-height: var(--body-line-height-med);
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: var(--body-line-height-med) 0;
  }

  hr {
    height: var(--body-line-height-med);
  }

  hr::after {
    content: "-------------------------";
  }
}

@media (min-width: 1800px) {
  body {
    font-size: var(--body-font-size-large);
    line-height: var(--body-line-height-large);
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: var(--body-line-height-large) 0;
  }

  hr {
    height: var(--body-line-height-large);
  }

  hr::after {
    content: "-----------------------------------";
  }
}

.page-title {
  font-size: 2em;
  line-height: 1;
  color: var(--theme-red);
}

.page-title-first-name {
  display: block;
}

.page-header:hover .page-title,
.page-header:focus .page-title {
  animation: wheelHueColorDark 10s infinite;
}

.terminal-line {
  margin: 1em 0;
  opacity: .7;
}

.terminal-line-active {
  opacity: 1;
}

/* Add a cursor at the end of a terminal line */
.terminal-line-active::after {
  display: inline-block;
  position: absolute;
  width: 0.6em;
  height: 1.2em;
  content: "";
  background-color: var(--theme-text);
}

/* Make the cursor at the end of a terminal line blink */
.terminal-line-active-flashing::after {
  animation: terminalCursor 1.1s linear infinite;
}

.terminal-prompt {
  color: var(--theme-green);
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "*";
  padding-right: .5em;
}

a {
  color: var(--theme-blue);
}

a:visited {
  color: var(--theme-purple);
}

a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
  color: var(--theme-cyan);
}

@keyframes terminalCursor {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

/* Inspired by https://codepen.io/barbuduweb/pen/YqVBWZ */
@keyframes wheelHueColorDark {
  from, to { color: var(--theme-red); }
  10%      { color: var(--theme-orange); }
  20%      { color: var(--theme-yellow); }
  30%      { color: var(--theme-green); }
  40%      { color: var(--theme-cyan); }
  50%      { color: var(--theme-blue); }
  60%      { color: var(--theme-purple); }
  70%      { color: var(--theme-text); }
  80%      { color: var(--theme-white); }
  90%      { color: var(--theme-red); }
}
